body {
	background-image: url("./../image/1.png");
	
	font-family:Georgia,Garamond,serif;
	
}
h1 {
	text-align:center;
	color:black;
	font-size: 28pt;
}
ul {
	list-style-image:url('./../image/2.png');
	color:#0505A5;
	font-size: 22pt;
	
}

a {
	color:#0505A5;
}

